.b1{
    background-color: rgb(103, 226, 226);
    padding: 10px;
    margin: 7px;
    width: min-content;
    display: inline-block;
    clear: both;

}
.b2{
    background-color: rgb(255, 93, 193);
    padding: 10px;
    margin: 7px;
    width: min-content;
    display: inline-block;
    clear: both;
   
}
.p1{
    background-color: rgba(207, 203, 203, 0.978);
    padding: 30px;
    height: 70px 0px 0px 0px;
}
.red{
    color: red;
}
.H{
    border: 2px solid black;
    padding: 0px 5px 50px 5px;
    
}