.container{
     height: 500px;
     width: 1000px;
     background-color: lightskyblue;
     border: 2px solid black;

     display: grid;
        /* grid-template-columns: [first] 40px [second] 50px [third] 50px  [end] 40px; */
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
        /* grid-auto-columns: 60px; */
        grid-template-columns: repeat(4,100px); 
        /* grid-template-rows:  1fr 1fr 1fr ; */
        grid-template-rows: repeat(3,100px);
         
         grid-template-areas:
                "header header header header" 
                "main main . sidebar"
                "footer footer footer footer";    

                /* for any dont use column or area we use . */
                /* "main main . sidebar" */
        
         gap: 10px;
         justify-items: center;
         align-items: center;

         justify-content: center;
         align-content: center;

         /* baki elements ko row wise fill karenge */
         /* grid-auto-flow: row; */


              
                
}

  .item{
        height: 100px;
        width: 100px;
        background-color: rgb(238, 144, 233);
        border: 2px solid black;
        text-align: center;
        align-content: center;
        color: white;


 } 

 .item1{
    grid-area: header;
    
    
 }

 .item2{
    grid-area: main;
 }

 .item3{
    grid-area: sidebar;
    
 }

 .item4{
    grid-area: footer;
 }

  /* sizig functions   child properties
  fit-content()
  min-content(10px,1fr)
    max-content()
    auto */