/* body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    height: 100px;
    width: 100%;
    background-color: greenyellow;

}
@media(min-width:768px){
    .box{
        background-color: rgb(10, 38, 252);
    }
}
@media(min-width:1024px){
    .box{
        background-color: red;
    }
} */
nav {
    background-color: black;
    display: flex;
    
    color: aliceblue;
    justify-content: space-between;
    align-items: center;
    padding: 1fr;
}
.logo{
    font-size: 1.5rem;
    color: aliceblue;
}
/* menu{
    display: none;
    flex-direction: column;
    background: #444;
    top: 6px px;
    right: 20px;
    width: 200px; */



.menu a{
    color:white;
    padding: lem;
    text-decoration: none;
    display: block;
}
.hamburger{
    font-size: 2rem;
    color: aliceblue;
    cursor: pointer;

}


@media (min-width:768px) {
    menu{
        display: flex;
        flex-direction: row;
        position: static;
        position: static;
        background: none;

    }
    
}