h1{
    color: blue;
    font-size: 16px;
}
p{
    color: red;
    font-size: 14px;
}
.p{
    color: rgb(125, 92, 244);
    background-color: yellow;
    font-size: 20px;
    text-align: center;
}

#ab{
    color: rgb(240, 41, 197);
    font-size: 25px;
    text-align: center;
}
.container{
    
    width: 300px;
    height: 150px;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    background-color: rgb(244, 120, 207);
    font-size: 18px;}

    #hp{
        background-color: rgb(126, 244, 231);
        color: rgb(248, 176, 52);
        font-size: 25px;
        text-align: center;
        border: 4px dashed red;
        margin: 100px;
    }

    #pj{
        background-color: rgb(235, 243, 89);
        color: rgb(4, 45, 191);
        font-size: 25px;
        text-align: center;
        margin: 200px;
        border: 4px dotted rgb(20, 1, 11);
    }

    #ap{
        background-color: rgb(88, 244, 98);
        color: rgb(215, 20, 49);
        font-size: 25px;
        text-align: center;
        margin: 300px;
        border: 4px double rgb(112, 15, 223);
    }

